.title{
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: -5%;
    text-decoration-color: bisque;

}
.form{
    width: 300px;
    align-items: center;
    align-self: center;
    align-content: center;
}
.subs{
    width:300px;
    align-items: center;
    align-self: center;
    align-content: center;
}
.checkbox-list-secondary-label{
    width: 300px;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-right: 30px;
    background-color: aqua;
    
}
.form-group{
    width: 300px;
    align-items: center;
    align-self: center;
    align-content: center;
}
.list-group-item{
    list-style-image: url('./img/codechef.jpg');
    width: 300px;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-right: 30px;
    background-color: aqua;
}